/* TODO: transitions CSS */
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");

.resized {
	height : 200px;
	width: 300px;
}

.margeYolo{
	margin:55px;
}

.centered{
}

.fixed {
  padding: 13px 0 14px;
  z-index: 9;
  background: #fff;
  margin-bottom: 3px;
  -webkit-box-shadow: 0px 2px 5px 1px #cbcfd1;
  box-shadow: 0px 2px 5px 1px #cbcfd1;
  position: fixed;
  width: 101%;
  border-bottom: 1px solid #ccc;
  top:-10px;
  left:-10px;
}

nav.primary {
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.sf-menu {
  margin: 0px;
    height: 3ex;
  list-style: none;
  text-align: center;
}

.sf-menu > li {
  color: #7c8387;
  padding: 0px;
  margin: 0 17px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 1.2ex;
}

.sf-menu > li > a {
  color: #7c8387;
  text-decoration: none;
}

.sf-menu li:nth-child(1) {
    left: 2em;
}

.sf-menu li:nth-child(2) {
    right: 2em;
}

.sf-menu li:nth-child(3) {
    right: 12em;
}

.bg {
    background-image: url("images/laval.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
}

    body, input, select, textarea {
        color: #808080;
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
        font-weight: 400;
        letter-spacing: -0.01em;
        line-height: 1.65em;
    }

        @media screen and (max-width: 1680px) {

            body, input, select, textarea {
                font-size: 12pt;
            }

        }

        @media screen and (max-width: 1280px) {

            body, input, select, textarea {
                font-size: 11pt;
            }

        }

        @media screen and (max-width: 980px) {

            body, input, select, textarea {
                font-size: 12pt;
            }

        }

        @media screen and (max-width: 736px) {

            body, input, select, textarea {
                font-size: 12pt;
            }

        }

        @media screen and (max-width: 480px) {

            body, input, select, textarea {
                font-size: 12pt;
            }

        }

.project {
    background-color: #F3F3F3;
    border-radius: 6px;
    width: 80%;
    display: block;
    margin:auto;
    margin-bottom:20px;
    text-align:justify;
    padding:5px,5px,5px,5px;
}

.project h1 {
    font-size: 2.25em;
    margin-left: 20px;
    margin-bottom:5px;
    top:20px;
    height:40px;
    position : relative;
    text-align:center;
}

.project p {
    margin : 20px;
}

.rounded {
    border-radius: 6px;
}

.container_proposition_project {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.proposition_project {
    background-color: #D4DEDF;
    display: block;
    width: 310px;
    height: 280px;
    margin: 10px;
    padding: 2px;
    transition: width 0.35s ease-in-out;
    text-align:center;
    border-radius: 6px;
}

.proposition_project h1 {
    top:-15px;
    position:relative;
    font-size: 1.55em;
    margin-left: 0px;
    vertical-align:center;
}

.proposition_project.opened {
    width: 100%;
    height: auto;
}

.container_proj {
    display: none;
}

.container_proj.opened {
    display: block;
}

.minipageContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    overflow: auto;
}

.minipage {
    background-color: mediumpurple;
    width: 45%;
    min-width: 640px;
    flex-shrink: 0.5;
    padding: 20px;
    margin: 20px;
}

.button {
        width:268px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        background-color: #1cb495;
        border-radius: 6px;
        border: 0;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        margin:5px;
        position:relative;
        height:65px;
    }
	
	.commentary {
		width:640px;
	}
	
	.littleButton {
        width:200px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
        background-color: #1cb495;
        border-radius: 6px;
        border: 0;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        padding: 0 1em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        margin:5px;
        position:relative;
        height:35px;
    }

        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover,
        button:hover,
        .button:hover {
            background-color: #1fcaa7;
        }

        @media screen and (max-width: 480px) {
            .button {
                padding: 0;
            }

        }
