/* TODO: transitions CSS */

.project {
    background-color: aqua;
    width: 100%;
    display: block;
}

.project p {
    display: none;
}

.moreButton {
    border-style: none;
    background: none;
    color: transparent;
    background-repeat: no-repeat;
    height: 48px;
    min-width: 48px;
}

.actionMore {
    background-image: url("CSS_images/keyboard_arrow_down_48px.svg");
}

.actionLess {
    background-image: url("CSS_images/keyboard_arrow_up_48px.svg");
}

.container_proposition_project {
    background-color: greenyellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.proposition_project {
    background-color: deeppink;
    display: block;
    margin: 10px;
    padding: 2px;
}

.minipageContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    overflow: auto;
}

.minipage {
    background-color: mediumpurple;
    width: 45%;
    min-width: 640px;
    flex-shrink: 0.5;
    padding: 20px;
    margin: 20px;
}
